<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="diffdrive_robot">
  <xacro:arg name="prefix" default="" />
  <xacro:arg name="use_mock_hardware" default="false" />

  <xacro:include filename="$(find jetbot_control)/ros2_control/jetbot.ros2_control.xacro" />

  <xacro:jetbot_ros2_control
    name="JetBot" prefix="$(arg prefix)" use_mock_hardware="$(arg use_mock_hardware)"/>

</robot>
